$background-color: #e3eaa4;
$color-orange: orange;
$footer: #98d899;
$aside: #99b1d8;
$nav: #d898bd;
$navigation-color: #6ba3ff;
$navigation-item-hover:#bad4ff;
$navigation-item-activated: #2376ff;
/* #layout */

.holy-grail {
    text-align: center;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.body {
    display: flex;
    flex: 1;
    height: 100%;
    background: $background-color;
    color: black;
    text-align: center;
}

/* #header */
.header {
    flex: none;
}

/* #navigation */

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigation li a:hover {
    background-color: #111;
}

.footer {
    flex: none;
    border: 1px solid;
    background: $footer;
}

.content {
    flex: 1;
    border: 1px solid;
    background: yellow;
}

.main {
    flex: 1;
    background: gray;
}

.nav {
    flex: 0 0 12em;
    order: -1;
    background: $nav;
}

.aside {
    flex: 0 0 12em;
    background: $aside;
}